<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>
{{>header}}
<section class="sectionMain">
    <div class="container">
        <div class="row voffset6">
            <h1>{{headline}}</h1>
        </div>
        <div class="row voffset3">
            {{{body}}}
        </div>
    </div>
</section>
{{>commonjs}}
</body>
</html>
