.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.voffset9 { margin-top: 200px; }
.voffset10 { margin-top: 250px; }
.voffset11 { margin-top: 300px; }
.voffset11 { margin-top: 350px; }

.sectionMain h1 {
    font-size: 40px;
    text-align: center;
    font-family: lobster-two, cursive;
}
